.Heading1 {
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 4px;
    background:#ffffff;
    font-size: 200%;
}

.Heading1 h1 {
    font-weight: bold;
    display: inline-block;
    margin: 0;
    text-align: center;
    color: white;
    background: #4aaaa5;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    font-size: 120%;
}

#SecondBlock{
    background: #FFFFFF;
}

#Container3{
    float: right;
}
body {
    clear: both;
    background: rgba(234, 234, 232, 0.57) !important;
}

footer {
    background-color: #666666;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-top: 8PX;
    border-top-style: solid;
    border-top-color: #4aaaa5;
}

